@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import all the needed font */


/* Background color for the landing page */
.background {
  background-image: url("/landing/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* For Login and Registration Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
  overflow-y: hidden;
}

.modal-wrapper .modal-content {
  border-radius: 18px;
  overflow: hidden;
  background-color: white;
  padding: 14px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-container.show {
  opacity: 1;
  visibility: visible;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .modal-wrapper .modal-content {
    width: 100%; /* Full width for mobile */
    height: 100vh; /* Full height for mobile */
    border-radius: 0; /* Remove border radius for full screen effect */
    padding: 0; /* Remove padding to utilize full screen */
  }
}

/* Custom scrollbar styles */
.modal-wrapper .modal-content::-webkit-scrollbar {
  width: 0px;
}

.modal-wrapper .modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.modal-wrapper .modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 18px;
}

.modal-wrapper .modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Media query for mobile devices */
@media (max-width: 767px) {
  .modal-wrapper .modal-content {
    max-height: 100vh; /* Full height for mobile */
    border-radius: 0; /* Remove border radius for full screen effect */
    padding: 0; /* Remove padding to utilize full screen */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}


/* For Remember me checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #695ee9;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #695ee9;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 50%;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 767px) {
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    border-radius: 4px;
  }

  input[type="checkbox"]:checked::after {
    width: 8px;
    height: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  input[type="checkbox"] {
    width: 26px;
    height: 26px;
  }

  input[type="checkbox"]:checked::after {
    width: 10px;
    height: 14px;
  }
}
